$mainColor: #222222;
$secondColor: #2937fa;
$thirdColor: #eeeeee;
$accentColor:#2cff00;
$bgGradient: linear-gradient(135deg, #d4efff 40%, #57d5f5);
$bgGradient2: linear-gradient(-45deg, #d4efff 40%, #57d5f5);
$headerGradient: linear-gradient(30deg, #022db9, #494e9c);
