@import '../../sass/variables';

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 1200;
}

.modal {
    max-height: 100vh;
    position: relative;
    animation: appear 1s linear forwards;
    transform: scale(0.3);
    overflow-y: auto;
}

.icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    stroke: $secondColor;
    z-index: 1300;
}

@keyframes appear {
    to {
        transform: scale(1);
    }
}
